{
  "registry-mirrors": [
    "http://{{ ser7_tailscale_ip }}:5000",
    "https://docker.m.daocloud.io",
    "https://dockerproxy.com",
    "https://mirror.ccs.tencentyun.com"
  ],
    "insecure-registries": [
    "{{ ser7_tailscale_ip }}:5000"
  ]
}
